* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
  transition: 0.3s;
}

.dark-mode {
  background-color: #485461;
}
input {
  position: absolute;
  opacity: 0;
}

label {
  width: 80px;
  height: 35px;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  position: relative;
  background: #a2d1fd;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

input:checked + label {
  background: #1f2533;
  transition: 0.3s;
}

.ball {
  position: absolute;
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #ffc187f5;
  border-radius: 50%;
  top: 4px;
  left: 2px;
  transition: 0.3s;
  box-shadow: inset 0 -2.6px 5.2px #f39339, inset 0 -2.6px 6px #ffa149,
    0 0 11px #ffc18799;
}

.inner-ball {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: rgba(31, 37, 51, 0.6);
  border-radius: 50%;
  left: 0;
  bottom: 6px;
  transition: 0.2s;
  opacity: 0;
}

input:checked + label .ball {
  transform: translateX(49px);
  background: #dee5f3;
  transition: 0.3s;
  box-shadow: inset 0px 2.6px 5.2px #bfbfc0, inset 0px -2.6px 5.2px #fff,
    inset 0px 2.6px 10px #fff;
}

input:checked + label .inner-ball {
  opacity: 1;
}

#clouds {
  position: absolute;
  height: 100%;
  transition: 0.3s;
  right: 0;
  bottom: -5px;
}

#stars {
  opacity: 0;
  transition: 0.3s;
}
input:checked + label #stars {
  opacity: 1;
}
